<div class="container-fluid">
    <div ng-if="hasWsSession">
        <div class="panel panel-default">
            <div class="panel-heading">
                Capteurs à afficher
            </div>
            <div class="panel-body">
                <label class="checkbox-inline" ng-repeat="sensor in sensors">
                    <input type="checkbox" ng-model="sensor.displayed"/>{{sensor.label}}
                </label>
            </div>
        </div>
        <wf-sensor-temperature sensor="sensor" ng-repeat="sensor in sensors"
                               ng-show="sensor.displayed"></wf-sensor-temperature>
    </div>
</div>