<div class="container-fluid">
    <div ng-if="hasWsSession">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Capteurs à afficher
                </div>
                <div class="panel-body">
                    <div class="checkbox" ng-repeat="sensor in sensors">
                        <label>
                            <input type="checkbox" ng-model="sensor.displayed"/>{{sensor.tag}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <wf-sensor-temperature sensor="sensor" ng-repeat="sensor in sensors"
                                   ng-show="sensor.displayed"></wf-sensor-temperature>
        </div>
    </div>
</div>