.idea/*
app/bootstrap.php.cache
app/cache/*
!app/cache/.gitkeep
app/config/config.yml
app/config/parameters.yml
app/logs/*
web/*
!app/logs/.gitkeep
app/phpunit.xml
bin/
composer.phar
vendor/
src/*/Resources/dist
src/*/Resources/public
bower_components/
node_modules/
composer.lock
npm-debug.log
start.sh
stop.sh
kill.sh
go.sh