{% extends '@WellFollowed/base.html.twig' %}

{% block body %}

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Légende
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="col-md-9 calendar-container">
        <div id="calendar" class="fc fc-ltr fc-unthemed">

        </div>
    </div>

{% endblock %}