<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bundles/wellfollowed/lib/css/lib.min.css">
    <link rel="stylesheet" href="bundles/wellfollowed/css/app.min.css">
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div class="container">
    {% block navbar %}
        {%  include '@WellFollowed/menu/main-menu.html.twig' %}
    {% endblock %}
    {% block body %}{% endblock %}
    </div>
    <script src="bundles/wellfollowed/lib/js/lib.min.js"></script>
    <script src="bundles/wellfollowed/js/app.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>